<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DaZieRange_Appointment_System.Properties.Settings.G6Wst2024ConnectionString"
            connectionString="Data Source=146.230.177.46;Initial Catalog=G6Wst2024;User ID=G6Wst2024;Password=8yhd2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>